<h1><%= @product_bundle.name %></h1>

Código SKU: <%=@product_bundle.sku%>

<h2> Esses são os produtos do seu Kit</h2>

<% @product_bundle.product_models.each do |p| %>
  <div><%= link_to(p.name, product_model_path(p.id))%></div>
<%end%>
<br>
<div><%= link_to 'Voltar', root_path %></div>